a {
    color: rgb(181, 36, 36); 
    text-decoration: none;
    margin: 5%;
    border: 5%;
}

a:hover {
    color: black;
}


body {
    font-family: Arial, sans-serif;
    background-color: lightgray; 
    margin: 0;
    padding: 0;
}
.button {
    background-color: #c1121f; /* Color primario */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 25%;
    height: 25%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-container form{
    width: 100%;
    margin: 2%;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container-column form{
    width: 100%;
}
.flex-container-column form #submit{
    width: 100%;
}

.flex-container-column form button{
    width: 100%;
}


/* Estilo para formularios */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form input
 {
    width: 88%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #c1121f; /* Color primario */
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #c1121f; /* Color primario */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background-color: #babbbc; /* Color secundario */
}


h1, h2, h3 {
    color: black; 
    margin-left: 10px;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}

th {
    background-color: #c1121f; 
    color: #fff;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #c1121f;
    border: 1px solid #c1121f;
    border-radius: 5px;
    margin: 0 5px;
}

.pagination a.active {
    background-color: #c1121f;
    color: white;
}

.pagination a:hover {
    background-color: #babbbc;
}


@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    table {
        font-size: 14px; 
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 95%;
    }
}
